@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    @font-face {
      font-family: 'Diagramm';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/resources/fonts/Diagramm-Regular.ttf) format('woff2');
    }
  }